---
layout: home
title: "Interviews with artists in the 3D Animation, VFX, and Game Art industries"
description: "Chalk uses all the best tools and merges them into one premium blogging theme."
---


<div class="article-list smooth">
  {% for post in paginator.posts %}
  <div class="clearfix">
    <a href="{{ post.url | relative_url }}" class="tilter tilter--1">
      <figure class="tilter__figure">
        <img src="{% asset_path '{{ post.featured-image }}' %}" alt="artwork by {{ post.title }}" class="tilter__image" />
        <div class="tilter__deco tilter__deco--shine"><div></div></div>
        <div class="tilter__deco tilter__deco--overlay"></div>
        <figcaption class="tilter__caption">
          <h3 class="tilter__title">{{ post.title }}</h3>
          <p class="tilter__description">{{ post.job-title }}</p>
        </figcaption>
        <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
          <path d="M20.5,20.5h260v375h-260V20.5z" />
        </svg>
      </figure>
    </a>
    <div class="article-list-item">
      <div class="article-list-date">
        {{ post.date | date: "%B %-d, %Y" }}
      </div>
      <div class="article-list-length">
        {% capture words %}
          {{ post.content | number_of_words }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
        {% endunless %}
      </div>
      <div class="article-list-tags">
        Category:
        {% for tag in post.tags %}
          <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
      <p>{{ post.description }}</p>
    </div>
  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <li class="article-pagination reveal">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts <span class="icon icon-ios-arrow-thin-right"></span></a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}"><span class="icon icon-ios-arrow-thin-left"></span> Older posts</a>
      {% endif %}
    </li>
  {% endif %}
</div>
