<nav class="header-nav reveal">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    <li>
      <a href="{{site.baseurl}}/about.html">About</a>
    </li>
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
          <span class="icon icon-social-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank" title="Facebook">
          <span class="icon icon-social-facebook"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" target="_blank" title="Email">
          <span class="icon icon-at"></span>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <span class="icon icon-social-rss"></span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
