.article-list {
  background-color: #131122;
  padding-top: 60px;
}
.article-list__article {
  display: flex;
  margin: 0 auto 60px auto;
  max-width: 1400px;
  @include breakpoint(medium) {
    flex-direction: column;
  };
  &:last-child {
    margin-bottom: 0;
  }
}
.article-list__article:nth-child(even) {
  flex-direction: row-reverse;
  @include breakpoint(medium) {
    flex-direction: column;
  };
  .article-list__info {
    justify-content: flex-end;
  }
  .article-list__info__container {
    text-align: right;
    @include breakpoint(medium) {
      text-align: left;
    };
  }
  .article-list__image__container {
    margin: -20px 10% 20px 60px;
    @include breakpoint(medium) {
      margin: 0;
    };
  }
  .article-list__interviewee {
    margin-left: 0;
    margin-right: -1em;
    @include breakpoint(medium) {
      margin: 0 auto .5em auto;
    };
  }
}
.article-list__image {
  width: 50%;
  background-color: #26223e;
  text-align: right;
  @include breakpoint(medium) {
    width: 100%;
    text-align: center;
  };

  .article-list__image__container {
    // width: 70%;
    margin: -20px 60px 20px 10%;
    transition: all .5s;
    @include breakpoint(medium) {
      width: 100%;
      margin: 0;
    };
  }

  .article-list__image__tilter {
    background-image: linear-gradient(45deg, #7f4cf9 0%, #d041cb 100%);
    padding: 2em;
    transform-style: preserve-3d;
    @include breakpoint(medium) {
      background-image: none;
      transform-style: flat;
    };
  }

  .article__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: translateZ(60px);
    box-shadow: 0 0 40px rgba(0, 0, 0, .4);
  }
}

.article-list__info {
  width: 50%;
  color: white;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include breakpoint(medium) {
    width: 100%;
    background-color: #26223e;
    padding-top: 0;
  };

  .article-list__info__container {
    @include breakpoint(medium) {
      margin: 0 auto;
    };
    a {
      color: #fff;
      &:hover {
        color: black;
      }
    }
  }
  .article-list__interviewee {
    font-size: 3em;
    margin-left: -1em;
    margin-bottom: .5em;
    padding: 0 15px;
    background-color: #d041cb;
    transition: all .5s;
    &:hover {
      box-shadow: 0 0 30px rgba(255, 73, 125, .7);
    }
    @include breakpoint(medium) {
      margin: 0 auto .5em auto;
      font-size: 2em;
    };
  }
}


//
// .article-list {
//   display: block;
//   padding: 0;
//   margin: 50px 0;
//   list-style: none;
//   position: relative;
//   li {
//     position: relative;
//     display: block;
//     padding: 50px 0;
//     border-bottom: 1px solid $base-border-color;
//     &:last-child {
//       border-bottom: 0;
//     }
//     &.article-pagination {
//       display: block;
//       height: 93px;
//       padding: 15px 0 50px;
//       a {
//         display: inline-block;
//         font-size: 11px;
//         font-weight: 600;
//         letter-spacing: .1em;
//         color: $gray;
//         text-transform: uppercase;
//         transition: color $base-transition-speed linear;
//         .icon {
//           display: inline-block;
//           margin-top: -2px;
//           font-size: 20px;
//           vertical-align: middle;
//         }
//         &:hover {
//           color: $article-paginator-color-hover;
//         }
//       }
//     }
//   }
// }
//
// .article-list-item {
//   h5 {
//     position: relative;
//     display: block;
//     padding-right: 25px;
//     color: $article-header-title-color;
//     border-bottom: 1px solid transparent;
//     .icon {
//       display: inline-block;
//       margin-top: -2px;
//       vertical-align: middle;
//       opacity: 0;
//       transition: opacity $base-transition-speed linear;
//     }
//     &:hover .icon {
//       opacity: 1;
//     }
//   }
//   a {
//     text-decoration: none;
//   }
//   p {
//     display: block;
//     margin: 12px 0 10px;
//     font-size: $base-font-size;
//     color: $article-header-description-color;
//   }
//   img {
//     margin-bottom: 40px;
//   }
// }
//
// .article-list-footer {
//   display: block;
//   span,
//   a {
//     display: inline-block;
//     font-size: 12px;
//     color: $article-footer-color;
//     text-transform: uppercase;
//     vertical-align: middle;
//   }
//   a {
//     margin-right: 7.5px;
//     color: $article-footer-link-color;
//     &:hover {
//       color: $article-footer-link-color-hover;
//     }
//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
//
// .article-list-divider {
//   margin: 0 15px;
// }
//
// .article-list-tags {
//   display: inline-block;
//   vertical-align: top;
// }
