.overflow {
  overflow-x: hidden;
  border: 1px solid black;
  width: 400%;
  height: 400px;
}

.perspective {
  perspective: 1px;
  perspective-origin: top left;
  position: absolute;
}

.preserve {
  transform-style: preserve-3d;
}

.parallax {
  position: absolute;
  top: 200px;
  margin-left: 250px;
  font-size: 24px;
}

.spacer {
  height: 1000vh;
}
