<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">

    <!-- <div class="perspective overflow preserve">
        <div class="parallax" style="transform: translateZ(-1.2px)">z = -1.2</div>
        <div class="parallax" style="transform: translateZ(-1.0px)">z = -1.0</div>
        <div class="parallax" style="transform: translateZ(-0.8px)">z = -0.8</div>
        <div class="parallax" style="transform: translateZ(-0.6px)">z = -0.6</div>
        <div class="parallax" style="transform: translateZ(-0.4px)">z = -0.4</div>
        <div class="parallax" style="transform: translateZ(-0.2px)">z = -0.2</div>
        <div class="parallax" style="transform: translateZ(0px)">z = 0</div>
        <div class="spacer"></div>
    </div> -->

    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
