<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">
    <div class="hero">
      <div class="grid grid-centered">
        <div class="grid-cell">
          <h2 class="hero-logo fadeIn">Primitve Artists</h2>
          <div class="banner-sign-up fadeIn">
            <h3>Let's learn together</h3>
            <p>In this interview series, we feature artists in the 3D animation industry in hopes of spreading ideas, building inspiration, understanding our industry, and most importantly, promoting a culture of community.</p>
            <hr>
            <p>Sign up for email updates (no junk email, we promise!).</p>
            <form action="" class="banner-form">
              <input type="text" class="banner__form banner__form--email" id="email" name="email" placeholder="email@example.com">
              <input type="submit" class="banner__form banner__form--submit" id="submit" value="SIGN UP">
            </form>
          </div>
        </div>
      </div>

      <b class="hero__ball"></b>
      <b class="hero__ball hero__ball--small"></b>
    </div>

    <div class="grid grid-centered">
      <div class="grid-cell">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </main>

  {% include javascripts.html %}
</body>
</html>
