// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding: 35px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 15px;
    color: $gray-light;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
